:root {
    --primary_background: white;
    --secondary_background: rgb(27, 119, 27);
    --primary_text: black;
    --secondary_text: white;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: var(--secondary_background);
    
}

.navbar ul li {
    display: inline-block;
}

footer {
    background-color: var(--secondary_background);
    color: var(--secondary_text);
    padding: 15px;
}