#ice-water {
    background-image: url("../images/ice-water.jpg");
}

#food-array {
    background-image: url("../images/FoodArray.jpg");
}

#ramen {
    background-image: url("../images/ramen.jpg");
}

#sandwich {
    background-image: url("../images/sandwich.jpg");
}

#mac-n-cheese {
    background-image: url("../images/mac-n-cheese.jpg");
}

#chocolate-cake {
    background-image: url("../images/chocolate-cake.jpg");
}

#pancake {
    background-image: url("../images/pancakes.jpg");
}